<mat-toolbar>
@if(screenService.isHandset() || screenService.isTablet())
{
    <div class="left-isHandset">
      <button matButton routerLink="/">
        <mat-icon>home</mat-icon>
      </button>

    </div>
    <div class="right-isHandset">
      <button matIconButton [matMenuTriggerFor]="menu" >
        <span class="material-symbols-outlined">menu</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/menu">
          <mat-icon fontSet="material-symbols-outlined">coffee</mat-icon>
          <span>Menu</span>
        </button>
        <button mat-menu-item routerLink="/rewards">
          <mat-icon fontSet="material-symbols-outlined">loyalty</mat-icon>
          <span>Rewards</span>
        </button>
        <button mat-menu-item routerLink="/gift">
          <mat-icon fontSet="material-symbols-outlined">redeem</mat-icon>
          <span>Gift Cards</span>
        </button>
        <button mat-menu-item routerLink="/store-locator">
          <mat-icon>pin_drop</mat-icon>
          <span>Find a store</span>
        </button>
        <button mat-menu-item routerLink="/Sign in">
          <mat-icon fontSet="material-symbols-outlined">login</mat-icon>
          <span>Sign in</span>
        </button>
        <button mat-menu-item routerLink="/Join now">
          <mat-icon fontSet="material-symbols-outlined">person_add</mat-icon>
          <span>Join now</span>
        </button>
      </mat-menu>
    </div>
} @else {
      <div class="left-isWeb">
        <button matButton routerLink="/">
          <mat-icon>home</mat-icon>
        </button>
        <button matButton>
            <mat-icon fontSet="material-symbols-outlined">coffee</mat-icon>
            <span>Menu</span>
        </button>
        <button matButton>
            <mat-icon fontSet="material-symbols-outlined">loyalty</mat-icon>
            <span>Rewards</span>
        </button>
        <button matButton>
            <mat-icon fontSet="material-symbols-outlined">redeem</mat-icon>
            <span>Gift Cards</span>
        </button>
      </div>
      <div class="right-isWeb">
        <button matButton routerLink="/store-locator">
          <mat-icon>pin_drop</mat-icon>
          <span>Find a store</span>
        </button>
        <button matButton routerLink="/Sign in">
          <mat-icon fontSet="material-symbols-outlined">login</mat-icon>
          <span>Sign in</span>
        </button>
        <button matButton routerLink="/Join now">
          <mat-icon fontSet="material-symbols-outlined">person_add</mat-icon>
          <span>Join now</span>
        </button>
      </div>
}
</mat-toolbar>
<ng-content></ng-content>


